@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

html {
  font-size: 16px;
  font-family: 'Roboto',sans-serif;
  font-weight: 400; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  color: white;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0; }

img {
  max-width: 100%; }

.wrapper {
  max-width: 1110px;
  margin: 0 auto; }

.first {
  background: url("../img/preback.png") no-repeat left 60% top, url("../img/bg1.png") no-repeat center center/cover;
  position: relative; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px; }

.logo {
  height: 80px;
  width: 160px; }

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.menu__item {
  list-style: none; }

.menu__link {
  text-decoration: none;
  color: white;
  margin-right: 30px; }

.phone__link {
  text-decoration: none;
  color: white; }

.h1 {
  margin-top: 100px;
  margin-bottom: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.h1__text {
  background-color: white;
  color: black;
  font-size: 55px;
  -webkit-transform: skewX(-15deg);
      -ms-transform: skewX(-15deg);
          transform: skewX(-15deg);
  padding: 0 10px;
  margin: 10px 0; }

.desc, .first__list {
  margin-left: 200px; }

.list__text {
  margin-top: 5px; }

.socials {
  margin-top: 70px; }
  .socials__item {
    list-style: none;
    margin-bottom: 10px; }

.advantages {
  margin-top: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.number {
  font-size: 50px;
  padding: 20px;
  border-bottom: 1px solid white; }

.advantage {
  background-color: black;
  padding: 20px;
  width: 25%; }

.advantage__text {
  padding: 20px 0; }

.order {
  width: 25%;
  background: url("../img/bg3.png") no-repeat center center/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .order__text {
    text-transform: uppercase;
    text-align: center; }

.pic {
  position: absolute;
  top: -80%;
  left: 0; }

.directions {
  background: url(../img/bg4.png) no-repeat center center/cover;
  padding: 60px 0 180px 0;
  z-index: 5; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.direction-big {
  width: 635px;
  height: 500px;
  padding: 30px 50px; }

.direction-small {
  width: 445px;
  height: 500px;
  padding: 30px 30px; }

.row {
  margin: 30px 0; }

.direction-n {
  color: rgba(31, 31, 31, 0.4);
  font-size: 12px; }

.direction__title {
  font-size: 52px;
  color: #1F1F1F;
  margin: 10px 0; }

.direction__text {
  width: 65%;
  color: #181818;
  font-size: 14px; }

.direction__teacher {
  margin: 20px 0 10px;
  color: #1F1F1F;
  font-size: 18px; }

.direction__name {
  color: #181818;
  font-size: 14px; }

.btn {
  border: 2px solid #000000;
  border-radius: 530px;
  padding: 26px 56px;
  display: inline-block;
  text-decoration: none;
  color: #1F1F1F;
  font-size: 14px;
  margin-top: 65px; }
  .btn_white {
    border: 2px solid #fff;
    color: white; }

.white {
  color: white; }

.gray {
  color: rgba(255, 255, 255, 0.6); }

.special {
  background: url("../img/bg13.png") no-repeat center center/cover;
  height: 790px;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px); }
  .special__group {
    padding: 200px 0; }

.h2 {
  font-size: 42px; }

.special__btn {
  position: relative; }

.pic1 {
  position: absolute;
  top: 90%;
  left: 50px; }

.teachers {
  background: url("../img/bg14.png") no-repeat top center/cover;
  padding: 65px 0 0 0;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px); }
  .teachers__title {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    margin: 50px 0 10px 0; }
  .teachers__text {
    width: 400px;
    line-height: 150%; }
  .teachers__name {
    margin-bottom: 20px;
    font-size: 36px; }
  .teachers__group {
    width: 480px; }

.group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin-top: 75px; }
  .group__item {
    padding: 30px 30px 15px 30px;
    width: 33%;
    background-color: rgba(0, 0, 0, 0.9); }
  .group__title {
    margin-top: 20px;
    font-size: 12px; }

.h3 {
  font-size: 52px; }

.bg-gray {
  background-color: #4D4D4D; }

.bg-red {
  background-color: #E44E51; }

.bg-tr {
  background-color: transparent; }

.reviews {
  background: url("../img/phone.png") no-repeat center bottom, url("../img/bg15.png") no-repeat center center/cover;
  height: 915px;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  padding-top: 80px; }

.h2_rev {
  color: #1F1F1F;
  text-align: center; }

.switch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0; }

.avatar__group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px; }

.avatar__desc {
  margin-left: 25px; }

.avatar__title {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6); }

.avatar__name {
  color: #1F1F1F;
  font-size: 24px; }

.contacts {
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 800px; }

.contacts__left {
  width: 50%;
  background: url("../img/bg16.png") no-repeat center center/cover;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 100px; }

.contacts__right {
  width: 50%; }

.contact {
  background: url("../img/bg17.png") no-repeat center left/cover;
  height: 405px;
  padding: 90px 0 65px 65px; }

.map {
  background: url("../img/map.png") no-repeat center center/cover;
  height: 396px; }

.left__text {
  width: 445px;
  margin: 60px 0; }

.contact__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0; }

.contact__group {
  margin-right: 20px; }

.contact__title {
  margin-bottom: 10px; }
